<div class="row mb-2">
    <div class="col-md-2">Search:</div>
    <div class="col-md-6">
        <!-- with getter / setter -->
        <input type="search" #searchInput [(ngModel)]="listFilter" class="form-control" />
        <!-- two-way databinding, the long way -->
        <!-- <input type="search" [ngModel]="listFilter" (ngModelChange)="onValueChange($event)" class="form-control" /> -->
    </div>
</div>
<div class="row" *ngIf="listFilter">
    <div class="col-md-6">
        <span>Filtered by: {{listFilter}}</span><br />
        <span>{{hitCountMessage}}</span>
    </div>
</div>